* {
  cursor: inherit;
  cursor: url(assets/mallet.png), auto;
}

body {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  width: 800px;
  background-image: url(assets/grass-texture.png);
  background-repeat:repeat;
}

.gameboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  width: 550px;
}

.score {
  text-align: center;
  font-size: x-large;
  margin: 10px auto;
}

.status-menu {
  height: 120px;
  text-align: center;
  font-family: monospace;
  background-color: rgba(0,0,0,0.5);
  color: red;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.start-button {
    display: block;
    min-width: 550px;
    margin: 10px auto;
    background: darkgrey;
    font-size: x-large;
}

.hole {
  padding: 20px;
  margin: 10px;
  width: 100px;
  height: 100px;
  border: brown ridge 9px;
  border-radius: 50%;
  background-color: rgba(50,50,50,1);
}

.mole {
  position: relative;
  width: 0;
}

.pop-out {
  animation-name: pop-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes pop-out {
  0% {
    width: 0;
    left: 0;
    top: 0;
  }
  100% {
    width: 155%;
    left: -20px;
    top: -24px;
  }