* {
  cursor: inherit;
  cursor: url(assets/mallet.png), auto;
}

body {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  width: 800px;
  background-image: url(assets/grass-texture.png);
  background-repeat:repeat;
}

.gameboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  width: 550px;
  height: 600px;
}

.score {
  text-align: center;
  font-size: x-large;
  margin: 10px auto;
}

.status-menu {
  height: 160px;
  text-align: center;
  font-family: monospace;
  background-color: rgba(0,0,0,0.5);
  color: red;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.start-button {
    display: block;
    min-width: 550px;
    margin: 10px auto;
    background: darkgrey;
    font-size: x-large;
}

.hole {
  padding: 20px;
  margin: 10px;
  width: 100px;
  height: 100px;
  border: brown ridge 9px;
  border-radius: 50%;
  background-color: rgba(50,50,50,1);
}

.mole {
  position: relative;
  width: 20px;
  height: 20px;
  left: 35px;
  top: 135px;
  z-index: -1;
}

.pop-out {
  animation-name: pop-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.pop-in {
  animation-name: pop-out;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.mole-hit {
  animation-name: flicker;
  animation-duration: 0.5s;
}

@keyframes pop-out {
  0% {
    transform: none;
    top: 135px;
    z-index: -1;
  }
  10% {
    z-index: 1;
    transform: scale(2);
  }
  100% {
    transform: scale(5);
    top: 30px;
    z-index: 1;
  }
}

@keyframes flicker {
  0% {
      background-color: red;
  }
  10% {
      background-color: rgba(50,50,50,1);
  }
  20% {
      background-color: red;
  }
  30% {
      background-color: rgba(50,50,50,1);
  }
  40% {
      background-color: red;
  }
  50% {
      background-color: rgba(50,50,50,1);
  }
  60% {
      background-color: red;
  }
  70% {
      background-color: rgba(50,50,50,1);
  }
  80% {
      background-color: red;
  }
  90% {
      background-color: rgba(50,50,50,1);
  }
  100% {
      background-color: rgba(50,50,50,1);
  }
}